header .title {
    background-color: #6aafe6;
    justify-content: baseline;
    height: auto;
}

header .title p {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
}

header .search {
    border: solid 1px rgba(128, 128, 128, 0.29);
    border-radius: 5px;
    margin-top: 5px;
    padding : 15px;
}

header .search .intro p:first-child{
    font-size: 30px;
    font-weight: bold;
}

header .search .intro p:nth-child(2){
    font-size: 16px;
    margin: 5px 0;
}

header .search input {
    font-size: 20px;
    margin: 10px 0 5px 0;
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

