

.latest_repos .repo_title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;

}

.latest_repos .repo_item {
    border: solid 1px #d4dfe6;
    border-radius: 5px;
    padding: 15px 23px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.latest_repos .repo_info_item {
    border-radius: 4px;
    background-color: #6aafe6;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    display: inline;
}